* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top left, rgba(139, 3, 3, 0.5), rgba(94, 3, 3, 0.39));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8f0606;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e20e0e;
}
